GEMINI_API_KEY = 
TELEGRAM_BOT_TOKEN =
TELEGRAM_CONNECT_LINK =

#to run
#run the telegram connect link first
#ngrok http 8000 in one terminal
#python -m uvicorn main:app --reload in another terminal
#3rd terminal runs npm run dev