OPENAI_API_KEY =
TELEGRAM_BOT_TOKEN = 
TELEGRAM_CONNECT_LINK = 
TELEGRAM_CONNECT_LINK_ICCP = 
OPENFDA_API_TOKEN = 
ICCP_BOT_TELEGRAM_TOKEN = 
#to run
#run the telegram connect link first
#ngrok http 8000 in one terminal
#python -m uvicorn main:app --reload in another terminal
#3rd terminal runs npm run dev